.container{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	box-sizing: border-box;
}
table th, table td{
	padding: 10px;
}
.edit{
	background-color: green;
	padding: 8px;
	border: none;
}
.delete{
	background-color: red;
	padding: 8px;
	border: none;
}

.mar{
	margin-top: 150px;
	height: 20px;
}